<a href="https://colab.research.google.com/github/rodrigomluz/codekdata/blob/main/tabela_brasileirao2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://www.terra.com.br/esportes/futebol/brasileiro-serie-a/tabela/

https://medium.com/data-hackers/escrita-e-leitura-de-arquivos-csv-em-python-6a256c608818

# **Web Scraping com Python - Tabela do Brasileirão 2020**

Neste tutorial, veremos o básico do que se pode fazer em extrair uma tabela de site com python. Esta é uma forma muito útil se você precisa analisar dados de um site e até mesmo de uma tabela dentro dele.

> Indented block

In [ ]:
#importando as bibliotecas 
import pandas as pd
import requests
from bs4 import BeautifulSoup

Vamos usar como exemplo o site do terra.com.br, para extrair a tabela.

# New section

In [ ]:
#criando a variavel url para armazenar a url do site desejado.

url = 'https://www.terra.com.br/esportes/futebol/brasileiro-serie-a/tabela/'

#baixar uma página da web
r = requests.get(url)



print(r.status_code) # se retornar 200 é porque o requests foi bem sucedido.

200

Agora usaremos o BeautifulSoup para extrair todo o código da página.[link text](https:// [link text](https://))

In [ ]:
#extrainda dados estruturados de um site.

soup = BeautifulSoup(r.text, 'html.parser')
#print(soup) #irá imprimir todo site em forma de html

print(soup.prettify())

In [ ]:
colunas = soup.table.find("thead").find_all("th")

coluna_nome = [c.string for c in colunas]
coluna_nome[0:] = "Posição", "escudo", "Times","Subiu/Desceu", "Pontos", "Jogos", "Vitórias", "Empates", "Derrotas", "GP", "GC", "SG","%"
coluna_nome


linhas = soup.table.find("tbody").find_all("tr")
linhas
l = []
for tr in linhas:
  td = tr.find_all("td")
  row = [str(tr.get_text(strip = True)) for tr in td]
  l.append(row)
    
      
l

[['1',
  '',
  'Internacional>>',
  '',
  '36',
  '20',
  '10',
  '6',
  '4',
  '32',
  '18',
  '14',
  '60'],
 ['2',
  '',
  'Atlético-MG>>',
  'Subiu1',
  '35',
  '19',
  '11',
  '2',
  '6',
  '35',
  '23',
  '12',
  '61'],
 ['3',
  '',
  'Flamengo>>',
  'Desceu1',
  '35',
  '20',
  '10',
  '5',
  '5',
  '33',
  '29',
  '4',
  '58'],
 ['4',
  '',
  'São Paulo>>',
  'Subiu1',
  '33',
  '17',
  '9',
  '6',
  '2',
  '26',
  '15',
  '11',
  '64'],
 ['5',
  '',
  'Fluminense>>',
  'Desceu1',
  '32',
  '20',
  '9',
  '5',
  '6',
  '29',
  '22',
  '7',
  '53'],
 ['6',
  '',
  'Palmeiras>>',
  'Subiu1',
  '31',
  '19',
  '8',
  '7',
  '4',
  '26',
  '20',
  '6',
  '54'],
 ['7',
  '',
  'Santos>>',
  'Desceu1',
  '31',
  '20',
  '8',
  '7',
  '5',
  '28',
  '24',
  '4',
  '51'],
 ['8', '', 'Grêmio>>', '', '30', '19', '7', '9', '3', '22', '17', '5', '52'],
 ['9', '', 'Sport>>', '', '25', '20', '7', '4', '9', '19', '26', '-7', '41'],
 ['10',
  '',
  'Corinthians>>',
  'Subiu1',
  '25',
  '20',
  '6',
  '7',
  '7',
  '23',
  '27',
  '-4',
  '41'],
 ['11',
  '',
  'Fortaleza EC',
  'Desceu1',
  '24',
  '18',
  '6',
  '6',
  '6',
  '17',
  '14',
  '3',
  '44'],
 ['12', '', 'Ceará>>', '', '24', '19', '6', '6', '7', '23', '26', '-3', '42'],
 ['13',
  '',
  'Atlético Goianiense>>',
  '',
  '23',
  '20',
  '5',
  '8',
  '7',
  '18',
  '26',
  '-8',
  '38'],
 ['14',
  '',
  'Bahia>>',
  'Subiu1',
  '22',
  '19',
  '6',
  '4',
  '9',
  '24',
  '28',
  '-4',
  '38'],
 ['15',
  '',
  'Coritiba>>',
  'Subiu2',
  '20',
  '20',
  '5',
  '5',
  '10',
  '18',
  '26',
  '-8',
  '33'],
 ['16',
  '',
  'Bragantino>>',
  'Subiu2',
  '20',
  '20',
  '4',
  '8',
  '8',
  '23',
  '27',
  '-4',
  '33'],
 ['17',
  '',
  'Botafogo>>',
  'Desceu3',
  '20',
  '19',
  '3',
  '11',
  '5',
  '19',
  '23',
  '-4',
  '35'],
 ['18',
  '',
  'Vasco da Gama>>',
  'Desceu2',
  '19',
  '18',
  '5',
  '4',
  '9',
  '20',
  '26',
  '-6',
  '35'],
 ['19',
  '',
  'Athletico-PR>>',
  '',
  '19',
  '19',
  '5',
  '4',
  '10',
  '15',
  '21',
  '-6',
  '33'],
 ['20',
  '',
  'Goiás>>',
  '',
  '12',
  '18',
  '2',
  '6',
  '10',
  '21',
  '33',
  '-12',
  '22']]

In [ ]:

coluna_nome


df = pd.DataFrame(l , columns=coluna_nome)
df

   Posição escudo                  Times Subiu/Desceu  ...  GP  GC   SG   %
0        1               Internacional>>               ...  32  18   14  60
1        2                 Atlético-MG>>       Subiu1  ...  35  23   12  61
2        3                    Flamengo>>      Desceu1  ...  33  29    4  58
3        4                   São Paulo>>       Subiu1  ...  26  15   11  64
4        5                  Fluminense>>      Desceu1  ...  29  22    7  53
5        6                   Palmeiras>>       Subiu1  ...  26  20    6  54
6        7                      Santos>>      Desceu1  ...  28  24    4  51
7        8                      Grêmio>>               ...  22  17    5  52
8        9                       Sport>>               ...  19  26   -7  41
9       10                 Corinthians>>       Subiu1  ...  23  27   -4  41
10      11                  Fortaleza EC      Desceu1  ...  17  14    3  44
11      12                       Ceará>>               ...  23  26   -3  42
12      13         Atlético Goianiense>>               ...  18  26   -8  38
13      14                       Bahia>>       Subiu1  ...  24  28   -4  38
14      15                    Coritiba>>       Subiu2  ...  18  26   -8  33
15      16                  Bragantino>>       Subiu2  ...  23  27   -4  33
16      17                    Botafogo>>      Desceu3  ...  19  23   -4  35
17      18               Vasco da Gama>>      Desceu2  ...  20  26   -6  35
18      19                Athletico-PR>>               ...  15  21   -6  33
19      20                       Goiás>>               ...  21  33  -12  22

[20 rows x 13 columns]

In [ ]:
df['Times']

0           Internacional>>
1             Atlético-MG>>
2                Flamengo>>
3               São Paulo>>
4              Fluminense>>
5               Palmeiras>>
6                  Santos>>
7                  Grêmio>>
8                   Sport>>
9             Corinthians>>
10             Fortaleza EC
11                  Ceará>>
12    Atlético Goianiense>>
13                  Bahia>>
14               Coritiba>>
15             Bragantino>>
16               Botafogo>>
17          Vasco da Gama>>
18           Athletico-PR>>
19                  Goiás>>
Name: Times, dtype: object

In [ ]:
df.count()

Posição         20
escudo          20
Times           20
Subiu/Desceu    20
Pontos          20
Jogos           20
Vitórias        20
Empates         20
Derrotas        20
GP              20
GC              20
SG              20
%               20
dtype: int64

In [ ]:
df

   Posição escudo                  Times Subiu/Desceu  ...  GP  GC   SG   %
0        1               Internacional>>               ...  32  18   14  60
1        2                 Atlético-MG>>       Subiu1  ...  35  23   12  61
2        3                    Flamengo>>      Desceu1  ...  33  29    4  58
3        4                   São Paulo>>       Subiu1  ...  26  15   11  64
4        5                  Fluminense>>      Desceu1  ...  29  22    7  53
5        6                   Palmeiras>>       Subiu1  ...  26  20    6  54
6        7                      Santos>>      Desceu1  ...  28  24    4  51
7        8                      Grêmio>>               ...  22  17    5  52
8        9                       Sport>>               ...  19  26   -7  41
9       10                 Corinthians>>       Subiu1  ...  23  27   -4  41
10      11                  Fortaleza EC      Desceu1  ...  17  14    3  44
11      12                       Ceará>>               ...  23  26   -3  42
12      13         Atlético Goianiense>>               ...  18  26   -8  38
13      14                       Bahia>>       Subiu1  ...  24  28   -4  38
14      15                    Coritiba>>       Subiu2  ...  18  26   -8  33
15      16                  Bragantino>>       Subiu2  ...  23  27   -4  33
16      17                    Botafogo>>      Desceu3  ...  19  23   -4  35
17      18               Vasco da Gama>>      Desceu2  ...  20  26   -6  35
18      19                Athletico-PR>>               ...  15  21   -6  33
19      20                       Goiás>>               ...  21  33  -12  22

[20 rows x 13 columns]

In [ ]:
#Removendo a caluna escudo


df = df.drop(columns=['escudo'])

In [ ]:
#Alterando os tipos das colunas.

df.astype({'Posição':'int64', 'Times':'string', 'Pontos': 'int', 'Jogos':'int','Vitórias':'int', 'Derrotas':'int',
           'Empates':'int', 'GP':'int', 'GC':'int', 'SG':'int', '%':'float'}).dtypes

Posição           int64
Times            string
Subiu/Desceu     object
Pontos            int64
Jogos             int64
Vitórias          int64
Empates           int64
Derrotas          int64
GP                int64
GC                int64
SG                int64
%               float64
dtype: object

In [ ]:
df

   Posição                  Times Subiu/Desceu Pontos  ...  GP  GC   SG   %
0        1        Internacional>>                  36  ...  32  18   14  60
1        2          Atlético-MG>>       Subiu1     35  ...  35  23   12  61
2        3             Flamengo>>      Desceu1     35  ...  33  29    4  58
3        4            São Paulo>>       Subiu1     33  ...  26  15   11  64
4        5           Fluminense>>      Desceu1     32  ...  29  22    7  53
5        6            Palmeiras>>       Subiu1     31  ...  26  20    6  54
6        7               Santos>>      Desceu1     31  ...  28  24    4  51
7        8               Grêmio>>                  30  ...  22  17    5  52
8        9                Sport>>                  25  ...  19  26   -7  41
9       10          Corinthians>>       Subiu1     25  ...  23  27   -4  41
10      11           Fortaleza EC      Desceu1     24  ...  17  14    3  44
11      12                Ceará>>                  24  ...  23  26   -3  42
12      13  Atlético Goianiense>>                  23  ...  18  26   -8  38
13      14                Bahia>>       Subiu1     22  ...  24  28   -4  38
14      15             Coritiba>>       Subiu2     20  ...  18  26   -8  33
15      16           Bragantino>>       Subiu2     20  ...  23  27   -4  33
16      17             Botafogo>>      Desceu3     20  ...  19  23   -4  35
17      18        Vasco da Gama>>      Desceu2     19  ...  20  26   -6  35
18      19         Athletico-PR>>                  19  ...  15  21   -6  33
19      20                Goiás>>                  12  ...  21  33  -12  22

[20 rows x 12 columns]